.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardsContainer_withMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}